body {
  display: flex;
  flex-direction: column;
  align-items: center;

}

#board {
  display: inline-grid;
  grid-template-columns: repeat(3, calc(80vmin/3));
  grid-auto-rows: calc(80vmin/3);
  background-color: lightblue;
}

#board > div {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20vmin;
}

#change-p1 {
  margin-right: 30px;
}